{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}
<header class="masthead" style="background-image: url('https://images.pexels.com/photos/6120220/pexels-photo-6120220.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Rest Password</h1>
            <span class="subheading">Type In A New Password.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

<div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto content">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
              {% endif %}
            {% endwith %}
            {{ wtf.quick_form(form, method='POST', novalidate=True, button_map={"submit": "primary"}) }}
          </div>
        </div>
      </div>

{% include "footer.html" %}
{% endblock %}