{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}
<header class="masthead" style="background-image: url('https://images.pexels.com/photos/6964173/pexels-photo-6964173.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Reset</h1>
              {% if coming_from_code == True: %}
              <span class="subheading">Type in the verification code</span>
              {% else %}
            <span class="subheading">Type in your email to find your account</span>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>


    {% if coming_from_code == True: %}
        <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto content">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
              {% endif %}
            {% endwith %}
            {{ wtf.quick_form(form, method='POST', novalidate=True, button_map={"submit": "primary"}) }}
          </div>
        </div>
      </div>

        {% else: %}
        <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto content">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
              {% endif %}
            {% endwith %}
            {{ wtf.quick_form(form, method='POST', novalidate=True, button_map={"submit": "primary"}) }}
          </div>
        </div>
      </div>

    {% endif %}

{% include "footer.html" %}
{% endblock %}